* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer_container {
    overflow: hidden;
    background-color: rgba(159,206,198,.1);
}

.inner_container {
    overflow: hidden;
    z-index: 1;
}

.bx-wrapper {
    width: 100%;
    overflow: hidden;
}

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 95s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 6);
    margin: 0 50px;
  }
  .d-demo__item > img{
     width: 100%;
  }

.text_area {
    margin: 5%;
}

h2.animation {
    font-size: 42px;
    background-color: rgba(159,206,198,.92);
    padding: 10px 20px;
    width: 350px;
    color: #fff;
    height: 80px;
}

.text_area p , .about_wrap p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    width: 560px;
    padding: 10px;
    margin: 10px 0;
}

#mv {
    position: relative;
}

@keyframes slide {
    0% {
        transform: rotate(45deg) translateY(-20vw) translate3d(0,0,0);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(45deg) translateY(20vw) translate3d(0,0,0);
        opacity: 0;
    }
}

#mv .mv_border {
    display: block;
    width: 200%;
    height: 1px;
    background: #227fbc;
    position: absolute;
    left: -10vw;
    transform: rotate(45deg);
    transform-origin: center;
    animation: slide 10s ease-in-out infinite alternate;
    opacity: 0.5;
    outline: 1px solid transparent;
    overflow: hidden;
    z-index: -1;
}

#mv .mv_border:nth-of-type(2) {
    background: #10a5c1;
    top: -5%;
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

#mv .mv_border:nth-of-type(3) {
    background: #8a98f5;
    opacity: 0.2;
    top: -6%;
    animation-duration: 14s;
}

#mv .mv_border:nth-of-type(4) {
    top: 10%;
    animation-duration: 16s;
}

#mv .mv_border:nth-of-type(5) {
    background: #10a5c1;
    top: -4%;
    animation-duration: 8s;
}

#mv .mv_border:nth-of-type(6) {
    background: #8a98f5;
    opacity: 0.2;
    top: -3%;
    animation-direction: alternate-reverse;
    animation-duration: 12s;
}

#mv2 .mv_border {
    display: block;
    width: 200%;
    height: 1px;
    background: #ffb6c1;
    position: absolute;
    right: 0vw;
    transform: rotate(45deg);
    transform-origin: center;
    animation: slide 10s ease-in-out infinite alternate;
    opacity: 0.5;
    outline: 1px solid transparent;
    overflow: hidden;
    z-index: -1;
}

#mv2 .mv_border:nth-of-type(2) {
    background: #ffdead;
    top: -5%;
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

#mv2 .mv_border:nth-of-type(3) {
    background: #fffaf0;
    opacity: 0.2;
    top: -6%;
    animation-duration: 14s;
}

#mv2 .mv_border:nth-of-type(4) {
    top: 10%;
    animation-duration: 16s;
}

#mv2 .mv_border:nth-of-type(5) {
    background: #fff0f5;
    top: -4%;
    animation-duration: 8s;
}

#mv2 .mv_border:nth-of-type(6) {
    background: #ffe4e1;
    opacity: 0.2;
    top: -3%;
    animation-direction: alternate-reverse;
    animation-duration: 12s;
}

.video_wrap {
    position: relative;
}

video {
    width: 100%;
    filter: brightness(0.5);
}

.video_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 1200px;
}

.video_text h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.video_text p {
    font-size: 24px;
    line-height: 50px;
}

.about_wrap {
    text-align: center;
    position: relative;
}

#about {
    width: 100%;
    height: 1500px;
    background-image: url(img/SKH_2022_06_20-03.jpg);
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10% 0;
    background-size: cover;
    background-color: rgba(255,255,255,.8);
    background-blend-mode: color-burn;
    background-attachment: fixed;
    margin-top: -10px;
}

.about_wrap {
    text-align: center;
    margin-top: 10%;
}

.about_wrap img {
    width: 100%;
    max-width: 1000px;
}

.about_wrap p:nth-of-type(2) {
    bottom: -15%;
}

#about h2 , #about > p , .people_and_works h2 , #recruit h2 {
    color: #333;
    margin-left: 10%;
}

.about_wrap p {
    background-color: rgba(159,206,198,.92);
    color: #fff;
    position: absolute;
    bottom: -5%;
    left: 10%;
}

p.about_text {
    color: #fff;
    margin-left: 10px;
}

#about h2 , .people_and_works h2 , #recruit h2 {
    font-size: 60px;
}

#about p {
    font-size: 24px;
}

p.about_btn {
    background-color: #333;
    display: block;
    width: 300px;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    bottom: 15%;
    right: 15%;
}

p.about_btn a {
    color: #fff;
}

.slide_text {
    width: 0;
    opacity: 0;
}

@keyframes slider {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 80%;
        opacity: 1;
    }
}

@keyframes pc_slider {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 500px;
        opacity: 1;
    }
}

.slide_text.active {
    animation: pc_slider .3s forwards; 
}

.slider-3 .slick-slide {
    margin: 0 60px;
    padding: 60px 0;
    position: relative;
  }
  .slider-3 .slick-slide .slide-img {
    width: 600px;
    height: 400px;
    transition: all 0.6s ease 0.4s;
      opacity: 0.8;
    box-shadow: 7px 7px 15px -5px #666;
    overflow: hidden;
  }
  .slider-3 .slick-slide.slick-current .slide-img {
      transform: scale(1.2);
      opacity: 1;
  }
  .slider-3 .slick-slide .slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-3 .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
  .slider-3 .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #09000d;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
  }
  .slider-3 .slick-next {
    right: 0;
  }
  .slider-3 .slick-prev {
    left: 0;
  }
  .slider-3 .slick-next::before {
    left: 20px;
  }
  .slider-3 .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
  }
  .dots-3 .slick-dots {
    text-align: center;
  }
  .dots-3 .slick-dots li {
    display: inline-block;
  }
  .dots-3 .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
  }
  .dots-3 .slick-dots .slick-active button {
    background: #0a467d;
  }

  .people_and_works h2 , #recruit h2 {
    padding-top: 5%;
    margin-top: 0;
  }

  .people_and_works , #recruit {
    background-color: rgba(159,206,198,.1);
    position: relative;
  }

  #recruit {
    overflow: hidden;
    background-color: rgba(255,255,204,.3);
  }

  .people_and_works::before {
    content: "";
    width: 100%;
    height: 1000px;
    display: block;
    background-color: rgba(49,144,231, .1);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 85% 0);
    z-index: -1;
    opacity: 0;
  }

  #recruit::before {
    content: "";
    width: 100%;
    height: 1000px;
    display: block;
    background-color: rgba(255,228,225, .5);
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    z-index: -1;
    opacity: 0;
  }

  @keyframes left_slide {
    0% {
        opacity: 0;
        height: 1000px;
        width: 100%;
        clip-path: polygon(0 0, 0% 100%, 85% 0);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        height: 1000px;
        width: 100%;
        clip-path: polygon(0 0, 0% 100%, 85% 0);
        transform: translateX(0);
    }
  }

  .people_and_works.active::before {
    animation: left_slide 2s forwards;
  }

  .recruit_wrap {
    display: flex;
    justify-content: center;
    margin: 10% 0;
}

@keyframes right_slide {
    0% {
        opacity: 0;
        height: 1000px;
        width: 100%;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        height: 1000px;
        width: 100%;
        transform: translateX(0);
    }
}

#recruit.active::before {
    animation: right_slide 2s forwards;
}

  


@media (max-width:768px) {

    .d-demo__item {
        width: calc(100vw / 1.3);
        margin: 0 30px;
    }

    .slide_text.active {
        animation: slider .3s forwards; 
    }
    
    #mv .mv_border {
        width: 100%;
        left: -15vw;
    }

    p , #about p , p.about_des {
        font-size: 14px;
    }

    .text_area {
        margin: 10% 0;
    }

    .text_area h2 {
        width: 80%;
        font-size: 30px;
        margin-left: 10%;
        height: 60px;
    }

    .text_area p {
        width: 80%;
        font-size: 12px;
        margin-left: 10%;
    }

    #about {
        height: 750px;
        background-attachment: unset;
        padding: 100px 0;
    }

    #about h2, .about_des , .people_and_works h2 {
        margin-left: 5%;
    }

    #about h2 , .people_and_works h2 , #recruit h2  {
        font-size: 34px;
    }

    #about > p {
        width: 80%;
    }

    .about_wrap p {
        width: 80%;
        font-size: 14px;
        bottom: -10%;
        left: 3%;
    }

    .about_wrap p:nth-of-type(2) {
        bottom: -30%;
    }

    .video_text {
        width: 100%;
    }

    .video_text h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .video_text p {
        font-size: 10px;
        line-height: 14px;
        max-width: 80%;
        margin: 0 auto;
        bottom: 10%;
    }

    p.about_btn {
        width: 80%;
        bottom: 5%;
        right: auto;
    }

    .people_and_works h2 , #recruit h2 {
        padding-top: 10%;
    }

    .recruit_wrap {
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width:769px) {
    @keyframes slide {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 600px;
            opacity: 1;
        }
    }
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

.img-circle {
    border-radius: 0 !important;
}


@media (max-width: 768px) {
    #customers-testimonials .item {
        margin-bottom: 0;
    }
}